.announcing-container{

  @media screen and (min-width : 55em) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    // grid-gap: var(--gutter);
    align-items: center;
    align-content: center;
 
  }

  .announcing-left{
    
    @media screen and (min-width : 64em) {
      max-width: 80%;
      
    }

    &__title,
    &__subtitle{
      color: var(--v-secondary );
    }

  }

  .section-announcing{
    line-height: 2;
    @media only screen and (min-width : 1024px){
      margin-left: 80px;
    }
    
    @media screen and (min-width : 64em) {
      max-width: 90%;
    }
    
    &__title{
      color: var(--four);
      text-align: left;

    }

    &__subtitle{
      margin-bottom: var(--gutter);
      color: var(--secondary);
      text-transform: uppercase;
      font-size: 24px;
      font-weight: var(--bold);
    }

    // campo de direccion Email
    .sign-contact{
      width: 100%;

      &__title{
        margin-top: var(--gutter);
        margin-bottom: var(--gutter);
        color: var(--third);
        font-weight: var(--bold);
        font-family: var(--font-title);
      }

      &__input{
        margin-bottom: 0;
        width: 70%;
        height: initial;
        padding: 10px 5px;
        border: none;
        font-size: 16px;
        background-color: var(--v-primary);
        color: var(--v-secundary);

        @media screen and (max-width : 23em){
          width: 65%;
        }
      }

      .btn-sign{
        display: inline-block;
        width: 27%;
        background-color: var(--four);
        cursor: pointer;
        border: none;
        padding: .5em .8em;
        
      }
    }

  }

}
