.speakers-container {

  .triangle-top {
    clip-path: polygon(50% 0%, 0% 101%, 100% 101%);
    height: 100px;
    width: 100%;
    background-color: var(--primary);
  }
  .triangle-bottom {
    clip-path: polygon(50% 100%, 0 -1%, 100% -1%);
    height: 100px;
    width: 100%;
    background-color: var(--primary);
  }

  .content-figure {
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      article {
        margin-bottom: var(--gutter);

        & figure {
          width: 345px;
          height: auto;
          margin: 0;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      margin: 0 auto;
      max-width: 1000px;

      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: repeat(10, 1fr);

      article {
        justify-self: center;

        & figure {
          width: 390px;
          height: 390px;
          margin: 0;
        }
      }

      article:nth-child(1) {
        grid-row: 1 / 5;
        grid-column: 4 / 8;
      }
      // derecha
      article:nth-child(2) {
        grid-row: 3 / 7;
        grid-column: 7 / 11;
      }
      // izquierda
      article:nth-child(3) {
        grid-row: 3 / 7;
        grid-column: 1 / 5;
      }
      article:nth-child(4) {
        grid-row: 5 / 9;
        grid-column: 4 / 8;
        margin-top: 2px;
      }
    }
  }
}

.section-speakers {
  background-color: var(--primary);
  &__title {
    padding-top: 0;
    color: var(--four);
    
    &.section__title {
      margin: 0;
      padding: 1em 0;
    }
  }

  &__content {
    position: relative;
    color: var(--v-primary);
    // clip-path: polygon(
    //   50% 0%,
    //   80% 0,
    //   100% 50%,
    //   80% 100%,
    //   20% 100%,
    //   0 50%,
    //   20% 0
    // );
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    // max-width: 375px;
    // height: auto;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      opacity: 0.3;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    transform: scale(0);
    transition: 0.5s all ease-in-out;
    background-color: var(--p-primary);
    opacity: 0.7;
    clip-path: polygon(
      50% 0%,
      80% 0,
      100% 50%,
      80% 100%,
      20% 100%,
      0 50%,
      20% 0
    );
  }

  &__content:hover &__description {
    transform: scale(1);
  }

  &__data {
    position: absolute;
    width: 100%;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__name {
    font-family: var(--font-subtitle);
    font-weight: var(--normal);
    font-size: 1.4rem;
    margin: 0;
  }

  &__social {
    color: var(--four);
    font-size: 34px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
}