.about-component {
  clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 100%, 0 100%, 0 5%);
  background-color: var(--primary);

  &.about {

    .title {
      color: var(--four);
    }

    .description {
      color: var(--v-primary);
      font-size: 18px;
    }
  }
}
