.header-component {
  &.header {
    background-image: url(../images/medellin.jpg);
    margin-bottom: 1.45rem;
    background-size: cover;
    height: 600px;
  }

  .oelo2 {
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;

    .logo {
      width: 300px;
      color: #fff;
      line-height: 1.5;
      font-weight: bold;
      text-decoration: none;

      .colombia {
        font-size: 40px;
      }

      .conf {
        font-size: 25 px;
      }

      .gatsby-image-wrapper {
        width: 250px;
      }
    }
  }
}
