.footer-component {
  background-color: var(--secondary);
  height: 140px;
  color: var(--v-primary);
  font-size: 24px/29px;
  display: flex;
  align-items: center;
  font-family: var(--font-title);
  font-weight: var(--bold);
  justify-content: center;
  padding: 10px;
  clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0 100%, 0 30%);
  
  a {
    margin-left: 5px;
    color: var(--v-primary);

    &:hover {
      color: var(--third);
      text-decoration: underline;
    }
  }
}
